#page, #single {
  .article-content  {
    background: $primary-color;
    padding: 10px 20px;
    margin-bottom: 20px;
    min-height: 453px;
    font-family: 'Oswald', sans-serif;

    p {
      font-weight: 300;
      font-size: rem-calc(18);
    }

    .article-h2 {
      color: darken($primary-color, 30%);
      font-size: 30px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      margin: 0;
    }

    .blog-author {
      font-size: rem-calc(18);
    }
  }

  .comments {
    border-top: 1px dotted #aaa;
    padding-top: 20px;

    .respond {
      border: 1px solid #ccc;
      background: #eee;
      padding: 10px 20px;
      margin-bottom: 20px;

      #reply-title {
        font-size: rem-calc(18);
      }
      .comment-notes {
        font-size: rem-calc(12);
        font-weight: 300;
        color: white;
      }
      .form-allowed-tags {
        font-weight: 300;
        code {
          font-size: rem-calc(14);
          font-weight: 300;
        }
      }
    }
  }
}