<div class="row">
  <div class="large-12 columns">
    <div class="footer">
      <div class="row">
        <div class="large-2 columns">
          <a class="menu" href="#">
            <span class="plus">+</span>
            <p class="more">menu</p>
          </a>
        </div>

        <div class="large-8 columns">
          <p>Rua Tomaz Flores, 327 - Independência - Porto Alegre - RS - CEP 90035-201 - Fone: 51 3224 6565</p>
          </p>
        </div>

        <div class="large-2 columns">
          <ul class="social">
            <li>+</li>
            <li>Menu</li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>