{% extends "base.twig" %}

{% block content %}
<div id="page">
  <div class="row">
    <article class="post-type-{{post.post_type}} large-9 columns" id="post-{{post.ID}}">
      <section class="article-content">
        <h2 class="article-h1">{{post.title}}</h2>

        <div class="article-body">
	  {{post.content}}
        </div>
      </section>

    </article>

    <aside class="large-3 columns">
      {% include "sidebar.twig" %}
    </aside>
  </div>
</div>

{% endblock %}