<div class="sidebar">

  <a href="#"ref="#" class="box videos">
    <p class="title">
      Vídeos
    </p>
    <div class="more"></div>
  </a>

  <a href="#"ref="#" class="box news">
    <p class="title">
      Notícias
    </p>
    <div class="more"></div>
  </a>

  <a href="#"ref="#" class="box propostas">
    <p class="title">
      Propostas
    </p>
    <div class="more"></div>
  </a>


  <a href="#"ref="#" class="box fotos">
    <p class="title">
      fotos
    </p>
    <div class="more"></div>
  </a>

  <a href="#"ref="#" class="box fotos">
    <p class="title">
      Downloads
    </p>
    <div class="more"></div>
  </a>

  <div class="box facebook">
    <div class="fb-like-box"
         data-href="https://www.facebook.com/FacebookDevelopers"
         data-height="168" data-width="210" data-colorscheme="light"
         data-show-faces="true" data-header="false" data-stream="false"
         data-show-border="false">
    </div>
  </div>
</div>